{% extends 'blog/base.html' %} 

{% block content %}
<main class="main-content single-post section-wrapper">
  <div class="single-post-content section-content-narrow">
    <div class="single-post-gap section-gap">

      {% if post.cover and post.cover_in_post %}
      <div class="single-post-cover pb-base">
        <img loading="lazy" src="{{post.cover.url}}" alt="Change me">
      </div>
      {% endif %}

      <h2 class="single-post-title pb-base center">
        {{ post.title }}
      </h2>

      <div class="post-meta pb-base">
        <div class="post-meta-item">
          <a class="post-meta-link" href="{% url "blog:author" post.created_by.id %}">
            <i class="fa-solid fa-user"></i>
            <span>
              {{post.created_by.first_name}}
              {{post.created_by.last_name}}
            </span>
          </a>
        </div>
        <div class="post-meta-item">
          <span class="post-meta-link">
            <i class="fa-solid fa-calendar-days"></i>
            <span>
              {{ post.created_at }}
            </span>
          </span>
        </div>
        {% if post.category %}
        <div class="post-meta-item">
          <a class="post-meta-link" href="{% url "blog:category" post.category %}">
            <i class="fa-solid fa-tag"></i>
            <span>
              {{post.category}}
            </span>
          </a>
        </div>
        {% endif %}
      </div>

      <p class="single-post-excerpt pb-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, vero
        fugiat eum perferendis accusamus enim quos obcaecati. Voluptates a vel
        obcaecati ipsa in dignissimos facere odio et, ab provident assumenda!
      </p>

      <div class="separator"></div>

      <div class="single-post-content">
        
        {{ post.content|safe }}
        
        {% if tags %}
        <div class="post-tags">

          <span>Tags: </span>
          {% for tag in tags %}
          <a class="post-tag-link" href="{% url "blog:tag" tag.slug %}">
            <i class="fa-solid fa-link"></i>
            <span>{{ tag }}</span>
          </a>
          {% endfor %}
          
        </div>
        {% endif %}
        
      </div>
    
    </div>
  </div>
</main>

{% endblock content %}